* {
  margin: 0px;
  padding: 0px;

}
/*responsive*/
@media (max-width: 768px) {
  {
    
  }
  header{
    background-color: white;

  }
  body{ 
    
  background-repeat:repeat;
  background-size: cover;
  height:100%;
  font-family: "Righteous", cursive;
    
  }
  footer{ font-size: 13px;
  
  }
  .principal{
    margin-left: 60px;

  }
  li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  float: left;
}

}

body {
  background-image: url(https://econojournal.com.ar/cntnt/uploads/2019/11/Gasoducto-Noreste.jpg);
  background-repeat:repeat;
  background-size: cover;
  height:100%;
  font-family: "Righteous", cursive;
}

header {
  margin: 0;
  padding: 1px;
  margin: 0px 0px 0px;
  background-image: linear-gradient(to right, white 35%, transparent 85%);
}


h1 {
  size: 5px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px #009999;
  text-align: center;
  margin: 5px 5px;
}

h2 {
  text-transform: uppercase;
  text-align: justify;
  font-size: 15px;
  word-spacing: 5px;
  color: #c0c0c0;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

p {
  color: white;
  size: 50px;
  text-align: justify;
 
}

footer {
  font-size: 13px;
  margin: auto;
  position: sticky;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to right, white 5%, transparent 85%);
  height: 5em;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color:black;
}

ul {
  list-style-type: none;
  margin: 1px;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  border-radius: 15px;
}



.principal{
  border-radius: 15px;
  height:150px;
  border-style: solid;
  box-shadow: 4px 5px 5px 0.1px grey;
  

}
.indexp{
  
  font-size: 18px;
  text-align: justify;
   text-shadow: 2px 2px 4px #000000;
}
.indexp1{ font-size: 19px;
  text-align: justify;
 text-shadow: 2px 2px 4px #000000;
 margin-top: 50px;
 margin-bottom: 100px;

}
.ti1{
  font-size: 0.02px;
  text-align: left;
  color:black;
  border-top: white;
}

.container{
  float: center;
  align-content: center;
  size: auto;
 
}
.accordion{
  margin-bottom: auto;
  text-align: center;
}
i{
  padding: 7px;

}
div.col{
  float: center;
}

.accordion-item{
background-image: linear-gradient(to right, transparent 5%,  #AFCCF5   85%);
}
